.team-mercedes { border: 2px solid #00D2BE; }
.team-redbull { border: 2px solid #1E41FF; }
.team-ferrari { border: 2px solid #DC0000; }
.team-mclaren { border: 2px solid #FF8700; }
.team-astonmartin { border: 2px solid #006F62; }
.team-alpinef1team { border: 2px solid #0090FF; }
.team-sauber { border: 2px solid #52E252; }
.team-haasf1team { border: 2px solid #D7D7D7; }
.team-rbf1team { border: 2px solid #C8C8C8; }
.team-williams { border: 2px solid #00BFFF; }