.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}

.team-mercedes { border: 2px solid #00D2BE; }
.team-redbull { border: 2px solid #1E41FF; }
.team-ferrari { border: 2px solid #DC0000; }
.team-mclaren { border: 2px solid #FF8700; }
.team-astonmartin { border: 2px solid #006F62; }
.team-alpinef1team { border: 2px solid #0090FF; }
.team-sauber { border: 2px solid #52E252; }
.team-haasf1team { border: 2px solid #D7D7D7; }
.team-rbf1team { border: 2px solid #C8C8C8; }
.team-williams { border: 2px solid #00BFFF; }

.border-pramac { border: 2px solid #4e008e; }    /* Prima Pramac Racing */
.border-ducati { border: 2px solid #D9001B; }    /* Ducati Lenovo Team */
.border-yamaha { border: 2px solid #003DA5; }    /* Monster Energy Yamaha */
.border-honda { border: 2px solid #D83D14; }     /* Repsol Honda Team */
.border-suzuki { border: 2px solid #0071B5; }     /* Team Suzuki Ecstar */
.border-aprilia { border: 2px solid #66ff00; }    /* Aprilia Racing */
.border-lcr { border: 2px solid #B7B1A3; }        /* LCR Honda */
.border-gresini { border: 2px solid #9baee4 ; }    /* Gresini Racing */
.border-ktm { border: 2px solid #F66A1D; }        /* KTM Factory Racing */
.border-vr46 { border: 2px solid #FFD700; }       /* VR46 Racing Team */
.border-tech3 { border: 2px solid #f00 ; }  
.border-trackhouse { border: 2px solid #CCCCCC; }    
.border-default { border: 2px solid #CCCCCC; }     /* Colore di default */
 
  
  /* Aggiungi altre squadre se necessario */
  