---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---


<BaseLayout title="Curriculum - Vincenzo Mancinelli" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profilo</div>
  </div>

  <div class="mb-10 text-justify">
    Sono un ingegnere informatico, laureato con capacità tecniche e una solida
    comprensione dei linguaggi di programmazione. Ho sviluppato una particolare
    competenza nell’ambito dell’Instance Segmentation durante la mia tesi, che
    mi ha permesso di approfondire le mie competenze in questo campo. Ho una
    forte capacità di apprendimento e adattamento, con un interesse particolare
    per il mantenimento all’avanguardia delle nuove tecnologie. La mia passione
    per lo sport mi ha permesso di sviluppare un forte spirito di squadra, una
    mentalità competitiva e una grande resistenza, qualità che ritengo utili
    anche nel campo dell’ingegneria informatica.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educazione</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Diploma di Ragioneria"
      
    />
    <TimeLineElement
      title="Laurea in Ingegneria informatica"
      subtitle="Università degli studi del Sannio, Benevento, Italia"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Esperienza</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Developer"
      subtitle="Dal 01/10/2022 - Presente, presso Soes S.p.a., Telese Terme, Italia"
    >
      Nel corso degli ultimi due anni, ho lavorato come ingegnere del software
      backend presso la Soes S.p.a., specializzata nella programmazione Java. Le
      mie responsabilità includono lo sviluppo e la manutenzione del backend
      delle applicazioni, garantendo prestazioni ottimali e un’esperienza utente
      senza interruzioni. Ho anche acquisito esperienza nel lato sistemistico,
      lavorando con Docker per garantire la distribuzione efficiente e la
      scalabilità delle nostre applicazioni. Questa esperienza mi ha permesso di
      sviluppare una solida comprensione dei principi di ingegneria del software
      e di affinare le mie competenze tecniche.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificazioni</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://media.licdn.com/dms/image/C4D22AQEIeQXEpMb-qQ/feedshare-shrink_1280/0/1664486095821?e=1710979200&v=beta&t=G0iNnkywxtbH7IbJUC3pI1CSRNG8AZe5yr3t1gksR-A" target="_blank"> DTLab Networking BootCamp 2022</a>
    </li>
    <li>
      <a href="https://www.credly.com/badges/49b997f4-3e67-454b-b7d3-ef25211ddf8e/linked_in?t=rd63xk" target="_blank"> DevNet Associate</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc5da92dc9-e427-443b-9586-43039d1a46f8/machine-learning-with-python-v7" target="_blank"> Machine Learning with Python</a>
    </li>
    <li>
      <a href="#" > PCAP: Programming Essentials in Python</a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/certification/fcc5da92dc9-e427-443b-9586-43039d1a46f8/data-analysis-with-python-v7" target="_blank"> Data Analysis with Python</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>
  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Languages • Libraries • Frameworks • Bundlers
    </div>
  </div>
  
  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Java</li>
      <li>Python</li>
      <li>Django</li>
      <li>Flutter</li>
      <li>Mips</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Spring</li>
      <li>Quarkus</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Astro</li>
      <li>Markdown</li>
      <li>PostgreSQL</li>
      <li>JSON</li>
      <li>Docker</li>
      
    </ul>
  </div>
  
  
  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Addittional
    </div>
  </div>

  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Gestione di progetti software</li>
        <li>Machine Learning</li>
        <li>Data Science</li>
        <li>Leadership e gestione del team</li>
        <li>Competenze interpersonali</li>
        <li>Test del software</li>
      </ul>
  </div>

  
</BaseLayout>
