---
import NextRace from '../components/NextRace.astro';
import LastRaceResults from '../components/LastRaceResults.astro';
import DriverStandings from '../components/DriverStandings.astro';
import ConstructorStandings from '../components/ConstructorStandings.astro'
import Races from '../components/Races.astro'
import BaseLayout from "../layouts/BaseLayout.astro";
---




<BaseLayout title="F1" sideBarActiveItemID="f1">
    
    <h1 class="text-3xl font-bold mb-4">Informazioni sulla Formula 1</h1>
    <NextRace />
    <LastRaceResults />
    <DriverStandings />
    <ConstructorStandings />
    <Races season="2024" />
  
    
  
    
 
  
  </BaseLayout>
