---
import NextRace from '../components/NextRace.astro';
import LastRaceResults from '../components/LastRaceResults.astro';
import DriverStandings from '../components/DriverStandings.astro';
import ConstructorStandings from '../components/ConstructorStandings.astro'
---

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informazioni sulla Formula 1</title>
</head>
<body class="p-10">
    <h1 class="text-3xl font-bold mb-4">Informazioni sulla Formula 1</h1>
    <NextRace />
    <LastRaceResults />
    <DriverStandings />
    <ConstructorStandings />
</body>
</html>
