---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey 👋</div>
    <div class="text-5xl font-bold">Sono Vincenzo Mancinelli</div>
    <div class="text-3xl py-3 font-bold">
      Ingegnere Informatico
    </div>
    <div class="py-2">
      <text class="text-lg">
        Sono un appassionato di informatica con una solida formazione e
        competenze nel campo della programmazione, dell’architettura dei sistemi
        e dello sviluppo software. Ho una passione per la risoluzione di
        problemi complessi e l’ottimizzazione delle soluzioni.
      </text>
    </div>
    
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">I miei ultimi progetti{"</>"}</div>
  </div>

  <HorizontalCard
    title="Instance Segmentation per l’Identificazione di Oggetti in Tempo Reale nei Contesti Automobilistici: Sfide e Soluzioni"
    img="/th.jpeg"
    desc="Lo scopo di questa tesi  è quello di sviluppare un sistema in grado di effetuare l'istance segmentation, ovvero identificare, classificare e tracciare gli ostacoli nella scena stradale, utilizzando un insieme di Dataset generati mediante il simulatore Car Learning To ACT (CARLA) per avere diversi scenari di momenti comuni di guida."
    url="/cv/blog/post1"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Sito Web Dinamico con Django e PostgreSQL per l'Associazione Arci Guardia"
    img="https://res.cloudinary.com/dqh1pnrdx/image/upload/v1720615023/2024-07-10_14-35_zr5xqc.png"
    desc=" Il progetto ha coinvolto la creazione di un'interfaccia utente intuitiva e responsiva, consentendo agli utenti di accedere facilmente a informazioni cruciali e di interagire con la piattaforma in modo efficace. Ho gestito l'intero ciclo di sviluppo, dalla progettazione concettuale alla implementazione, assicurando la sicurezza e l'ottimizzazione delle prestazioni del sito."
    url="http://arciguardia.online/"
  />
  <div class="divider my-0"></div>
  

  
<!-- 
    {
    last_posts.map((post) => (
      <>
        <HorizontalCard 
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/cv/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
-->

</BaseLayout>
