---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">


  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Libri</div>
  </div>
  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Manga
    </div>
  </div>
  
  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Blue Lock 1-7</li>
      
      
    </ul>
  </div>
  
  
  <div class="mb-3">
    <div class="text-xl w-full font-semibold">
      Zerocalcare
    </div>
  </div>

  <div class="mb-6">
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>La profezia dell'armadillo</li>
        <li>Dimentica il mio nome</li>
        <li>Macerie Prime</li>
        <li>Macerie Prime - 6 mesi dopo</li>
        <li>Kobane Calling</li>
        
      </ul>
  </div>

  
</BaseLayout>
