---
import BaseLayout from "../layouts/BaseLayout.astro";
import QRCodeGenerator from "../components/QrCodeGenerator.astro";
import GenPass from "../components/GenPass.astro";
import TestaCroce from "../components/TestaCorce.astro";
import ConvBase64 from "../components/ConvBase64.astro";
import DiffDate from "../components/DiffDate.astro";
import ConvertWebP from "../components/ConvertWebP.astro";

---

<BaseLayout sideBarActiveItemID="utility">
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" checked="checked" />
    <div class="collapse-title text-xl font-medium">Generatore di QR Code</div>
    <div class="collapse-content">
      <QRCodeGenerator />
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">
      Generatore di Password Sicure
    </div>

    <div class="collapse-content">
      <GenPass />
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">Gioco Testa o Croce</div>
    <div class="collapse-content">
      <TestaCroce />
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">
      Converti Base64 in Immagine o PDF
    </div>
    <div class="collapse-content">
      <ConvBase64 />
    </div>
  </div>
  <div class="collapse collapse-arrow bg-base-200">
    <input type="radio" name="my-accordion-2" />
    <div class="collapse-title text-xl font-medium">
      Converti immagine in webP
    </div>
    <div class="collapse-content">
      <ConvertWebP />
    </div>
  </div>

    
      
</BaseLayout>
