---
import { getConstructorStandings } from '../services/f1Service';

const standings = await getConstructorStandings();
---

<div class="card bg-base-100 shadow-xl p-4 my-4">
    <h2 class="card-title">Classifica Costruttori</h2>
    <table class="table w-full">
        <thead>
            <tr>
                <th>Posizione</th>
                <th>Constructor</th>
                <th>Punti</th>
            </tr>
        </thead>
        <tbody>
            {standings.map((standing) => (
                <tr class={`team-${standing.Constructor.name.toLowerCase().replace(/\s/g, '')}`}>
                    <td>{standing.position}</td>
                    <td>{standing.Constructor.name}</td>
                    <td>{standing.points} punti</td>
                </tr>
            ))}
        </tbody>
    </table>
</div>



