<form id="date-form">
  <label for="date1">Data 1:</label>
  <input type="date" class="input input-bordered input-primary w-full max-w-xs"  id="date1" required />
  <br />
  <label for="date2">Data 2:</label>
  <input type="date"class="input input-bordered input-secondary w-full max-w-xs"  id="date2" required />
  <br />
  <button class="btn btn-outline btn-primary" type="submit">Calcola</button>
</form>
<p id="result2"></p>

<script>
  function calculateDateDifference(
    date1: Date,
    date2: Date
  ): { daysPassed: number; daysRemaining: number } {
    const today = new Date();

    const diffTime1 = today.getTime() - date1.getTime();
    const diffTime2 = date2.getTime() - today.getTime();

    const daysPassed = Math.floor(diffTime1 / (1000 * 60 * 60 * 24));
    const daysRemaining = Math.floor(diffTime2 / (1000 * 60 * 60 * 24));

    return { daysPassed, daysRemaining };
  }

  document
    .getElementById("date-form")
    ?.addEventListener("submit", function (event) {
      event.preventDefault();

      const date1Input = document.getElementById("date1") as HTMLInputElement;
      const date2Input = document.getElementById("date2") as HTMLInputElement;

      const date1 = new Date(date1Input.value);
      const date2 = new Date(date2Input.value);

      const { daysPassed, daysRemaining } = calculateDateDifference(
        date1,
        date2
      );

      const resultElement = document.getElementById("result2")!;
      resultElement.textContent = `
        ${
          daysPassed < 0
            ? "La data 1 è nel futuro"
            : `Sono passati ${daysPassed} giorno(i) dalla data 1.`
        }
        ${
          daysRemaining < 0
            ? "La data 2 è nel passato"
            : `Ci sono ${daysRemaining} giorno(i) rimanenti fino alla data 2.`
        }
    `;
    });
</script>
