---
import { getDriverStandings } from '../services/f1Service';

const standings = await getDriverStandings();
---

<div class="card bg-base-100 shadow-xl p-4 my-4">
    <h2 class="card-title">Classifica Piloti</h2>
    <ul>
        {standings.map((standing) => (
            <li>
                {standing.position}. {standing.Driver.givenName} {standing.Driver.familyName} - {standing.points} punti
            </li>
        ))}
    </ul>
</div>