---
import { getLastRaceResults } from '../services/f1Service';

const results = await getLastRaceResults();


---

<div class="card bg-base-100 shadow-xl p-4 my-4">
    <h2 class="card-title">Risultati Ultima Gara</h2>
    <table class="table w-full">
        <thead>
            <tr>
                <th>Posizione</th>
                <th>Nome Pilota</th>
                <th>Constructor</th>
            </tr>
        </thead>
        <tbody>
            {results.map((result) => (
                <tr class={`team-${result.Constructor.name.toLowerCase().replace(/\s/g, '')}`}>
                    <td>{result.position}</td>
                    <td>{result.Driver.givenName} {result.Driver.familyName}</td>
                    <td>{result.Constructor.name}</td>
                </tr>
            ))}
        </tbody>
    </table>
</div>


<style>
    /* styles.css */
.team-mercedes { border: 2px solid #00D2BE; }
.team-redbull { border: 2px solid #1E41FF; }
.team-ferrari { border: 2px solid #DC0000; }
.team-mclaren { border: 2px solid #FF8700; }
.team-astonmartin { border: 2px solid #006F62; }
.team-alpinef1team { border: 2px solid #0090FF; }
.team-sauber { border: 2px solid #52E252; }
.team-haasf1team { border: 2px solid #D7D7D7; }
.team-rbf1team { border: 2px solid #C8C8C8; }
.team-williams { border: 2px solid #00BFFF; }

</style>