---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/cv/">Home</a></li>
    <li><a class="py-3 text-base" id="cv" href="/cv/cv">CV</a></li>
    <li><a class="py-3 text-base" id="blog" href="/cv/blog">Blog</a></li>
    <li><a class="py-3 text-base" id="utility" href="/cv/utility">Utility</a></li>
    <li><a class="py-3 text-base" id="f1" href="/cv/f1">F1</a></li>
    <li><a class="py-3 text-base" id="motogp" href="/cv/motogp">Moto Gp</a></li>
    <li><a class="py-3 text-base" id="fcguardias" href="/cv/fcguardias">F.C. Guardia S.</a></li>
    <li>
        <a
            class="py-3 text-base"
            href="mailto:contact.mancinelliasr8g@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li>
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem && activeItemElem.classList.add(activeClass);
</script>
