---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
import TeamSection2List from "../components/TeamSection2List.astro";
---

<!-- component -->
<div class="flex flex-wrap -mx-3 mb-5">
    <div class="w-full max-w-full px-3 mb-6 mx-auto">
        <div
            class="relative flex-[1_auto] flex flex-col break-words min-w-0 bg-clip-border rounded-[.95rem] border border-indigo-200 bg-dark m-5"
        >
            <!-- card body  -->
            <div class="flex-auto block py-8 px-9">
                <div>
                    <div class="mb-9">
                        <h1
                            class="mb-2 text-[1.75rem] font-semibold text-white"
                        >
                            Our Executive Team
                        </h1>
                        <span class="text-[1.15rem] font-medium text-muted">
                            Meet our talented team, a dynamic group of experts
                            driven by passion and innovation.
                        </span>
                    </div>
                    <div class="flex flex-wrap w-full">
                       
                        <TeamSection2List
                        title={title}
                        img="/post_img.webp"
                        desc="Calendario calcio"
                        url="#"
                        tags="Allegri Allegri"
                      />
                      <TeamSection2List
                        title="Asd FC Guardia Sanframondi"
                        img="/post_img.webp"
                        desc="Calendario calcio"
                        url="#"
                        tags="Allegri Allegri"
                      />
                      <TeamSection2List
                      title="Asd FC Guardia Sanframondi"
                      img="/post_img.webp"
                      desc="Calendario calcio"
                      url="#"
                      tags="Allegri Allegri"
                    />
                    <TeamSection2List
                      title="Asd FC Guardia Sanframondi"
                      img="/post_img.webp"
                      desc="Calendario calcio"
                      url="#"
                      tags="Allegri Allegri"
                    />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
