---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
---
  

<div class="flex flex-col mr-5 text-center mb-11 lg:mr-16">
    <div class="inline-block mb-4 relative shrink-0 rounded-[.95rem]">
        {
            img && (
              <Image
                src={img}
                aspectRatio="12:16"
                width={150}
                format="jpeg"
                alt={title}
                class="max-w-full md:max-w-[13rem] rounded-lg"
              />
            )
          }
    </div>
    <div class="text-center">
      <a href="javascript:void(0)" class="text-dark font-semibold hover:text-primary text-[1.25rem] transition-colors duration-200 ease-in-out">{title}</a>
      <span class="block font-medium text-muted">Marketing Manager</span>
    </div>
  </div>